In [1]:
import pandas as pd

In [2]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(5)

  whoAmI
0  robot
1  human
2  robot
3  human
4  robot

In [3]:
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] != 'human', 'human_group'] = '0'
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot_group'] = '0'

In [4]:
data.head(5)

  whoAmI human_group robot_group
0  robot           0           1
1  human           1           0
2  robot           0           1
3  human           1           0
4  robot           0           1